@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Request For Forgot Password</title>
</head>
<body>
    <p>
        <span>User Name: @ViewData["Name"]</span><br />
        <span>Password: @ViewData["Password"]</span><br />
    </p>
    <p>
        Please remove this mail after view for security.
    </p>
</body>
</html>