@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vivablast Management System</title>
    <link href="/Images/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="/scripts/jquery.min.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Scripts/common.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]"></script>
    <style type="text/css">
        .errorClass {
            border-color: red !important;
        }
        .errorLabel {
            color: #cb1a37;
            line-height: 18px;
            font-weight: normal !important;
            font-size: 12px;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <hr>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h2 class="text-center">Forgot Password?</h2>
                                <p>You can reset your password here.</p>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="alert alert-danger hide" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                The input you entered is incorrect.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input id="inputUser" placeholder="User name" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                <input id="inputEmail" placeholder="email address" class="form-control" type="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-primary btn-block" id="btnSendPassword" data-loading-text="Proccessing...">
                                                <span class="glyphicon glyphicon-random"></span> Send my password
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <a href="@Url.Action("Index", "Login")" class="btn btn-lg btn-primary btn-block" id="btnLogin">
                                                <span class="glyphicon glyphicon-log-in"></span> Login
                                            </a>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $.ajaxSetup({ cache: false });
        document.onkeypress = enter;
        function enter(e) {
            if (e.which == 13) {
                SendPassword();
            }
        }

        $('#btnSendPassword').off('click').on('click', function () {
            SendPassword();
        });

        function SendPassword() {
            clearVal();
            $('#btnSendPassword').button('loading');
            if ($.trim($('#inputUser').val()) == "") {
                Error();
                $('#inputUser').focus();
                $('#inputUser').addClass('errorClass');
                $('#inputUser').parent().after('<label class="errorLabel">User Name not blank.</label>');
            }
            else if ($.trim($('#inputEmail').val()) == "") {
                Error();
                $('#inputEmail').focus();
                $('#inputEmail').addClass('errorClass');
                $('#inputEmail').parent().after('<label class="errorLabel">Email not blank.</label>');
            }
            else if (!validateEmail($.trim($('#inputEmail').val()))) {
                Error();
                $('#inputEmail').focus();
                $('#inputEmail').addClass('errorClass');
                $('#inputEmail').parent().after('<label class="errorLabel">Email wrong format.</label>');
            }
            else {
                var url = '@Url.Action("ForgotPassword","Login")';
                $.ajax({
                    url: url,
                    data: {
                        user: $.trim($('#inputUser').val()),
                        email: $.trim($('#inputEmail').val())
                    },
                    cache: false,
                    asysn: false,
                    type: "POST",
                    success: function (response) {
                        if (response.result == "Successful") {
                            openNoticeDialog({
                                sectionTitle: "Send Successful!",
                                title: "New password has been sent to your email. Please check your mail... (Email maybe delay by provider, internet,...).<br>After 10 minutes if you don't receive email, try again."
                            });
                            $("input[id^='input']").val('');
                            $('#btnSendPassword').button('reset');
                        } else {
                            $('#btnSendPassword').button('reset');
                            openErrorDialog({
                                title: "Can't send email",
                                data: "Please check your information. Or contact Administrator support."
                            });
                        }
                    },
                    error: function () {
                        openErrorDialog({
                            title: "Can't send New Password.",
                            data: "Please contact Administrator support."
                        });
                    }
                });
            }
        };

        function Error() {
            $('.alert').removeClass("hide");
            $('#btnSendPassword').button('reset');
        }
    </script>
</body>
</html>
