table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    background-color: white;
}

td {
    vertical-align: bottom;
    padding: 10px;
}

.th td {
    height: 40px;
    text-align: center;
    font-weight: bold;
}

@media screen {
    div.divFooter {
        display: none;
    }
}

@media print {
    div.divFooter {
        position: fixed;
        bottom: 0;
    }
}
