@using Ap.Common.Constants
@using Vivablast.ViewModels
@model UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vivablast Management System</title>
    <link href="/Images/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="/scripts/jquery.min.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Scripts/common.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]"></script>
</head>
<body>
    @Html.HiddenFor(x => x.UserLogin.Id, new { @id = "iLogin" })
    @Html.HiddenFor(x => x.UserLogin.UserName, new { @id = "userName" })
    <input type="hidden" value="@Url.Action("ChangePassword", "Login")" id="hidSaveUrl" />
    <hr>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h2 class="text-center">Change Password</h2>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="alert alert-danger hide" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                The input you entered is incorrect.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input type="password" id="passwordCurrent" class="form-control" name="passwordCurrent" placeholder="Current Password" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group" style="text-align: left">
                                            <span id="pwcurrent" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Current Check
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input type="password" id="password1" class="form-control" name="password1" placeholder="New Password" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6" style="text-align: left">
                                                    <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                                                    <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                                                </div>
                                                <div class="col-sm-6" style="text-align: left">
                                                    <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                                                    <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input type="password" id="password2" class="form-control" name="password2" placeholder="Repeat New Password" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12" style="text-align: left">
                                                    <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-primary btn-block" id="btnChangePw" data-loading-text="Proccessing...">
                                                <span class="glyphicon glyphicon-floppy-save"></span> Save New Password
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="btnBack" class="col-xs-12 btn btn-default btn-lg">
                                                <span class="glyphicon glyphicon-step-backward"></span> Back
                                            </button>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#btnBack').off('click').on('click', function () {
                //event.preventDefault();
                history.back(1);
            });

            $('#passwordCurrent').keyup(function () {
                var url = "/Login/CheckOldPassword";
                $.ajax({
                    url: url,
                    data: {
                        user: $('#userName').val(),
                        password: $('#passwordCurrent').val()
                    },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        if (data.result === true) {
                            $("#pwcurrent").removeClass("glyphicon-remove");
                            $("#pwcurrent").addClass("glyphicon-ok");
                            $("#pwcurrent").css("color", "#00A41E");
                        } else {
                            $("#pwcurrent").removeClass("glyphicon-ok");
                            $("#pwcurrent").addClass("glyphicon-remove");
                            $("#pwcurrent").css("color", "#FF0004");
                        }
                    },
                    error: function () {
                        openErrorDialog({
                            title: "Can't check Current Password.",
                            data: "Please contact Administrator support."
                        });
                    }
                });
            });

            $("input[type=password]:not(#passwordCurrent)").keyup(function () {
                var ucase = new RegExp("[A-Z]+");
                var lcase = new RegExp("[a-z]+");
                var num = new RegExp("[0-9]+");

                if ($("#password1").val().length >= 8) {
                    $("#8char").removeClass("glyphicon-remove");
                    $("#8char").addClass("glyphicon-ok");
                    $("#8char").css("color", "#00A41E");
                } else {
                    $("#8char").removeClass("glyphicon-ok");
                    $("#8char").addClass("glyphicon-remove");
                    $("#8char").css("color", "#FF0004");
                }

                if (ucase.test($("#password1").val())) {
                    $("#ucase").removeClass("glyphicon-remove");
                    $("#ucase").addClass("glyphicon-ok");
                    $("#ucase").css("color", "#00A41E");
                } else {
                    $("#ucase").removeClass("glyphicon-ok");
                    $("#ucase").addClass("glyphicon-remove");
                    $("#ucase").css("color", "#FF0004");
                }

                if (lcase.test($("#password1").val())) {
                    $("#lcase").removeClass("glyphicon-remove");
                    $("#lcase").addClass("glyphicon-ok");
                    $("#lcase").css("color", "#00A41E");
                } else {
                    $("#lcase").removeClass("glyphicon-ok");
                    $("#lcase").addClass("glyphicon-remove");
                    $("#lcase").css("color", "#FF0004");
                }

                if (num.test($("#password1").val())) {
                    $("#num").removeClass("glyphicon-remove");
                    $("#num").addClass("glyphicon-ok");
                    $("#num").css("color", "#00A41E");
                } else {
                    $("#num").removeClass("glyphicon-ok");
                    $("#num").addClass("glyphicon-remove");
                    $("#num").css("color", "#FF0004");
                }

                if ($("#password1").val() == $("#password2").val()) {
                    $("#pwmatch").removeClass("glyphicon-remove");
                    $("#pwmatch").addClass("glyphicon-ok");
                    $("#pwmatch").css("color", "#00A41E");
                } else {
                    $("#pwmatch").removeClass("glyphicon-ok");
                    $("#pwmatch").addClass("glyphicon-remove");
                    $("#pwmatch").css("color", "#FF0004");
                }
            });

            $('#btnChangePw').off('click').on('click', function () {
                $('#btnChangePw').button('loading');
                if ($('span').hasClass('glyphicon-remove') && $('#passwordCurrent').val() == "") {
                    Error();
                } else {
                    $.ajax({
                        url: $('#hidSaveUrl').val(),
                        dataType: 'json',
                        type: 'POST',
                        data: {
                            userCode: $('#iLogin').val(),
                            newPassword: $('#password1').val(),
                            currentPassword: $('#passwordCurrent').val()
                        },
                        success: function (response) {
                            if (response.result === 'Successful') {
                                openYesNoDialog({
                                    sectionTitle: "Save Successful!",
                                    title: "Yes: go to Home page.<br>No: stay this page.",
                                    data: '',
                                    yesCallback: function () {
                                        window.location.href = 'http://' + window.location.host + '/home';
                                    },
                                    noCallback: function () {
                                        location.reload();
                                    }
                                });
                                $('#btnChangePw').button('reset');
                            }
                            else {
                                $('#btnChangePw').button('reset');
                                openErrorDialog({
                                    title: "Can't change New Password.",
                                    data: "Please contact Administrator support."
                                });
                            }
                        },
                        error: function () {
                            $('#btnLogin').button('reset');
                            openErrorDialog({
                                title: "Can't send New Password.",
                                data: "Please contact Administrator support."
                            });
                        }
                    });
                }
            });

            function Error() {
                $('.alert').removeClass("hide");
                $('#btnChangePw').button('reset');
            }
        });
    </script>
</body>



</html>
